aplr==10.8.0
beautifulsoup4==4.12.3
catboost==1.2.7
chardet==5.2.0
dash-cytoscape==1.0.2
dash-testing-stub==0.0.2
dask-expr==1.1.20
distributed==2024.12.0
djangorestframework==3.15.2
evidently==0.4.40
explainerdashboard==0.4.7
fairlearn==0.7.0
gevent==24.11.1
gradio==5.8.0
httptools==0.6.4
hyperopt==0.2.7
interpret==0.6.7
kmodes==0.12.2
lxml==5.3.0
m2cgen==0.10.0
mlflow==2.18.0
mlxtend==0.23.3
moto==4.2.14
optuna-integration==4.1.0
percy==2.0.2
pycaret==3.3.2
pyopenssl==24.3.0
pysocks==1.7.1
python-dotenv==1.0.1
salib==1.5.1
scikit-learn-intelex==2025.0.0
scikit-optimize==0.10.2
selenium==4.2.0
statsforecast==1.5.0
umap-learn==0.5.7
urllib3-secure-extra==0.1.0
watchfiles==1.0.0
xgboost==2.1.3
ydata-profiling==4.12.1
# adagio==0.2.6 # Installed as dependency for fugue, qpd
# aiofiles==23.2.1 # Installed as dependency for gradio
# alembic==1.14.0 # Installed as dependency for mlflow, optuna
# annotated-types==0.7.0 # Installed as dependency for pydantic
# ansi2html==1.9.2 # Installed as dependency for jupyter-dash
# antlr4-python3-runtime==4.11.1 # Installed as dependency for fugue-sql-antlr, qpd
# anyio==4.7.0 # Installed as dependency for gradio, httpx, litestar, starlette, watchfiles
# appdirs==1.4.4 # Installed as dependency for fs, iterative-telemetry
# asgiref==3.8.1 # Installed as dependency for django
# asttokens==3.0.0 # Installed as dependency for stack-data
# attrs==24.2.0 # Installed as dependency for jsonschema, outcome, referencing, trio, visions
# blinker==1.9.0 # Installed as dependency for flask
# boto3==1.35.76 # Installed as dependency for moto
# botocore==1.35.76 # Installed as dependency for boto3, moto, s3transfer
# cachetools==5.5.0 # Installed as dependency for google-auth, mlflow-skinny
# category-encoders==2.6.4 # Installed as dependency for pycaret
# certifi==2024.8.30 # Installed as dependency for evidently, httpcore, httpx, requests
# cffi==1.17.1 # Installed as dependency for cryptography, gevent, trio
# charset-normalizer==3.4.0 # Installed as dependency for requests
# click==8.1.7 # Installed as dependency for dask, distributed, explainerdashboard, flask, flask-simplelogin, litestar, mlflow-skinny, nltk, rich-click, typer, uvicorn
# cloudpickle==3.1.0 # Installed as dependency for dask, distributed, hyperopt, mlflow-skinny, pycaret, shap
# colorama==0.4.6 # Installed as dependency for click, colorlog, ipython, pytest, tqdm
# colorlog==6.9.0 # Installed as dependency for optuna
# colour==0.1.5 # Installed as dependency for dtreeviz
# comm==0.2.2 # Installed as dependency for ipykernel, ipywidgets
# contourpy==1.3.0 # Installed as dependency for matplotlib
# cryptography==44.0.0 # Installed as dependency for evidently, moto, pyopenssl
# cycler==0.12.1 # Installed as dependency for matplotlib, yellowbrick
# cython==3.0.11 # Installed as dependency for pmdarima
# daal==2025.0.0 # Installed as dependency for scikit-learn-intelex
# dacite==1.8.1 # Installed as dependency for ydata-profiling
# dash==2.18.2 # Installed as dependency for dash-auth, dash-bootstrap-components, dash-cytoscape, explainerdashboard, jupyter-dash, plotly-resampler
# dash-auth==2.3.0 # Installed as dependency for explainerdashboard
# dash-bootstrap-components==1.6.0 # Installed as dependency for explainerdashboard
# dash-core-components==2.0.0 # Installed as dependency for dash
# dash-html-components==2.0.0 # Installed as dependency for dash
# dash-table==5.0.0 # Installed as dependency for dash
# dask==2024.12.0 # Installed as dependency for dask-expr, distributed
# databricks-sdk==0.38.0 # Installed as dependency for mlflow-skinny
# debugpy==1.8.9 # Installed as dependency for ipykernel
# decorator==5.1.1 # Installed as dependency for ipython
# deprecated==1.2.15 # Installed as dependency for opentelemetry-api, opentelemetry-semantic-conventions
# deprecation==2.1.0 # Installed as dependency for evidently, pycaret
# dill==0.3.9 # Installed as dependency for multiprocess
# distro==1.9.0 # Installed as dependency for iterative-telemetry
# django==5.1.1 # Installed as dependency for djangorestframework
# docker==7.1.0 # Installed as dependency for mlflow
# dtreeviz==2.2.2 # Installed as dependency for explainerdashboard
# dynaconf==3.2.6 # Installed as dependency for evidently
# exceptiongroup==1.2.2 # Installed as dependency for anyio, ipython, litestar, pytest, trio, trio-websocket
# executing==2.1.0 # Installed as dependency for stack-data
# faker==33.1.0 # Installed as dependency for polyfactory
# fastapi==0.115.6 # Installed as dependency for gradio
# fastjsonschema==2.21.1 # Installed as dependency for nbformat
# ffmpy==0.4.0 # Installed as dependency for gradio
# filelock==3.16.1 # Installed as dependency for huggingface-hub, iterative-telemetry
# flask==2.3.3 # Installed as dependency for dash, dash-auth, flask-simplelogin, flask-wtf, jupyter-dash, mlflow
# flask-simplelogin==0.2.0 # Installed as dependency for explainerdashboard
# flask-wtf==1.2.2 # Installed as dependency for explainerdashboard, flask-simplelogin
# fonttools==4.54.1 # Installed as dependency for matplotlib
# fs==2.4.16 # Installed as dependency for triad
# fsspec==2024.9.0 # Installed as dependency for dask, evidently, gradio-client, huggingface-hub, triad
# fugue==0.8.7 # Installed as dependency for statsforecast
# fugue-sql-antlr==0.2.2 # Installed as dependency for fugue
# future==1.0.0 # Installed as dependency for hyperopt
# gitdb==4.0.11 # Installed as dependency for gitpython
# gitpython==3.1.43 # Installed as dependency for mlflow-skinny
# google-auth==2.36.0 # Installed as dependency for databricks-sdk
# gradio-client==1.5.1 # Installed as dependency for gradio
# graphene==3.4.3 # Installed as dependency for mlflow
# graphql-core==3.2.5 # Installed as dependency for graphene, graphql-relay
# graphql-relay==3.2.0 # Installed as dependency for graphene
# graphviz==0.20.3 # Installed as dependency for catboost, dtreeviz, explainerdashboard
# greenlet==3.1.1 # Installed as dependency for gevent, sqlalchemy
# h11==0.14.0 # Installed as dependency for httpcore, uvicorn, wsproto
# htmlmin==0.1.12 # Installed as dependency for ydata-profiling
# httpcore==1.0.7 # Installed as dependency for httpx
# httpx==0.28.1 # Installed as dependency for gradio, gradio-client, litestar, safehttpx
# huggingface-hub==0.26.5 # Installed as dependency for gradio, gradio-client
# idna==3.10 # Installed as dependency for anyio, httpx, requests, trio
# imagehash==4.3.1 # Installed as dependency for ydata-profiling
# imbalanced-learn==0.12.4 # Installed as dependency for pycaret
# importlib-metadata==8.5.0 # Installed as dependency for dash, dask, mlflow-skinny, opentelemetry-api, pycaret
# iniconfig==2.0.0 # Installed as dependency for pytest
# interpret-core==0.6.7 # Installed as dependency for interpret
# ipykernel==6.29.5 # Installed as dependency for jupyter-dash
# ipython==8.30.0 # Installed as dependency for ipykernel, ipywidgets, jupyter-dash, pycaret
# ipywidgets==8.1.5 # Installed as dependency for pycaret
# iterative-telemetry==0.0.9 # Installed as dependency for evidently
# itsdangerous==2.2.0 # Installed as dependency for flask, flask-wtf
# jedi==0.19.2 # Installed as dependency for ipython
# jinja2==3.1.4 # Installed as dependency for distributed, flask, fugue, fugue-sql-antlr, gradio, mlflow, moto, pycaret, ydata-profiling
# jmespath==1.0.1 # Installed as dependency for boto3, botocore
# joblib==1.3.2 # Installed as dependency for explainerdashboard, imbalanced-learn, interpret-core, kmodes, mlxtend, nltk, phik, pmdarima, pycaret, pynndescent, pyod, scikit-learn, scikit-optimize, scikit-plot
# jsonschema==4.23.0 # Installed as dependency for nbformat
# jsonschema-specifications==2024.10.1 # Installed as dependency for jsonschema
# jupyter-client==8.6.3 # Installed as dependency for ipykernel
# jupyter-core==5.7.2 # Installed as dependency for ipykernel, jupyter-client, nbformat
# jupyter-dash==0.4.2 # Installed as dependency for explainerdashboard
# jupyterlab-widgets==3.0.13 # Installed as dependency for ipywidgets
# kaleido==0.2.1 # Installed as dependency for pycaret
# kiwisolver==1.4.7 # Installed as dependency for matplotlib
# lightgbm==4.5.0 # Installed as dependency for pycaret
# litestar==2.13.0 # Installed as dependency for evidently
# litestar-htmx==0.4.1 # Installed as dependency for litestar
# llvmlite==0.43.0 # Installed as dependency for numba, pynndescent
# locket==1.0.0 # Installed as dependency for distributed, partd
# mako==1.3.8 # Installed as dependency for alembic
# markdown==3.7 # Installed as dependency for mlflow
# markdown-it-py==3.0.0 # Installed as dependency for rich
# markupsafe==2.1.5 # Installed as dependency for gradio, jinja2, mako, pycaret, werkzeug, wtforms
# matplotlib==3.7.5 # Installed as dependency for catboost, dtreeviz, mlflow, mlxtend, phik, pycaret, pyod, salib, scikit-plot, seaborn, statsforecast, wordcloud, ydata-profiling, yellowbrick
# matplotlib-inline==0.1.7 # Installed as dependency for ipykernel, ipython
# mdurl==0.1.2 # Installed as dependency for markdown-it-py
# mlflow-skinny==2.18.0 # Installed as dependency for mlflow
# msgpack==1.1.0 # Installed as dependency for distributed
# msgspec==0.18.6 # Installed as dependency for litestar
# multidict==6.1.0 # Installed as dependency for litestar
# multimethod==1.12 # Installed as dependency for visions, ydata-profiling
# multiprocess==0.70.17 # Installed as dependency for salib
# mypy-extensions==1.0.0 # Installed as dependency for typing-inspect
# nbformat==5.10.4 # Installed as dependency for pycaret
# nest-asyncio==1.6.0 # Installed as dependency for dash, ipykernel, jupyter-dash
# networkx==3.4.2 # Installed as dependency for hyperopt, visions
# nltk==3.9.1 # Installed as dependency for evidently
# numba==0.60.0 # Installed as dependency for pycaret, pynndescent, pyod, shap, statsforecast, umap-learn, ydata-profiling
# numpy==1.26.4 # Installed as dependency for aplr, catboost, category-encoders, contourpy, dtreeviz, evidently, explainerdashboard, fairlearn, gradio, hyperopt, imagehash, imbalanced-learn, interpret-core, kmodes, lightgbm, m2cgen, matplotlib, mlflow, mlxtend, numba, optuna, pandas, patsy, phik, plotly-resampler, pmdarima, pycaret, pyod, pywavelets, salib, scikit-learn, scikit-learn-intelex, scikit-optimize, scipy, seaborn, shap, sktime, statsforecast, statsmodels, tbats, triad, tsdownsample, umap-learn, visions, wordcloud, xgboost, ydata-profiling, yellowbrick
# opentelemetry-api==1.28.2 # Installed as dependency for mlflow-skinny, opentelemetry-sdk, opentelemetry-semantic-conventions
# opentelemetry-sdk==1.28.2 # Installed as dependency for mlflow-skinny
# opentelemetry-semantic-conventions==0.49b2 # Installed as dependency for opentelemetry-sdk
# optuna==4.1.0 # Installed as dependency for optuna-integration
# orjson==3.10.12 # Installed as dependency for gradio, plotly-resampler
# outcome==1.3.0.post0 # Installed as dependency for trio
# oyaml==1.0 # Installed as dependency for explainerdashboard
# packaging==24.2 # Installed as dependency for dask, deprecation, distributed, fugue-sql-antlr, gradio, gradio-client, huggingface-hub, ipykernel, matplotlib, mlflow-skinny, optuna, plotly, pmdarima, pytest, scikit-optimize, shap, sktime, statsmodels
# pandas==2.1.4 # Installed as dependency for catboost, category-encoders, dask-expr, dtreeviz, evidently, explainerdashboard, fairlearn, gradio, interpret-core, mlflow, mlxtend, phik, plotly-resampler, pmdarima, pycaret, qpd, salib, seaborn, shap, sktime, statsforecast, statsmodels, triad, visions, ydata-profiling
# parso==0.8.4 # Installed as dependency for jedi
# partd==1.4.2 # Installed as dependency for dask
# patsy==1.0.1 # Installed as dependency for category-encoders, statsmodels
# phik==0.12.4 # Installed as dependency for ydata-profiling
# pillow==10.4.0 # Installed as dependency for gradio, imagehash, matplotlib, wordcloud
# platformdirs==4.3.6 # Installed as dependency for jupyter-core
# plotly==5.24.1 # Installed as dependency for catboost, dash, evidently, plotly-resampler, pycaret, statsforecast
# plotly-resampler==0.10.0 # Installed as dependency for pycaret, statsforecast
# pluggy==1.5.0 # Installed as dependency for pytest
# pmdarima==2.0.4 # Installed as dependency for pycaret, tbats
# polyfactory==2.18.1 # Installed as dependency for litestar
# prompt-toolkit==3.0.48 # Installed as dependency for ipython
# protobuf==5.29.1 # Installed as dependency for mlflow-skinny
# psutil==6.1.0 # Installed as dependency for distributed, ipykernel, pycaret
# pure-eval==0.2.3 # Installed as dependency for stack-data
# py4j==0.10.9.7 # Installed as dependency for hyperopt
# pyaml==24.9.0 # Installed as dependency for scikit-optimize
# pyarrow==18.1.0 # Installed as dependency for dask-expr, mlflow, triad
# pyasn1==0.6.1 # Installed as dependency for pyasn1-modules, rsa
# pyasn1-modules==0.4.1 # Installed as dependency for google-auth
# pycparser==2.22 # Installed as dependency for cffi
# pydantic==2.10.3 # Installed as dependency for evidently, fastapi, gradio, ydata-profiling
# pydantic-core==2.27.1 # Installed as dependency for pydantic
# pydub==0.25.1 # Installed as dependency for gradio
# pygments==2.18.0 # Installed as dependency for ipython, rich
# pynndescent==0.5.13 # Installed as dependency for umap-learn
# pyod==2.0.2 # Installed as dependency for pycaret
# pyparsing==3.2.0 # Installed as dependency for matplotlib
# pytest==7.4.4 # Installed as dependency for dtreeviz
# python-dateutil==2.9.0.post0 # Installed as dependency for botocore, faker, graphene, jupyter-client, matplotlib, moto, pandas
# python-multipart==0.0.19 # Installed as dependency for gradio
# pytz==2024.2 # Installed as dependency for pandas
# pywavelets==1.8.0 # Installed as dependency for imagehash
# pywin32==308 # Installed as dependency for docker, jupyter-core
# pyyaml==6.0.2 # Installed as dependency for dask, distributed, evidently, gradio, huggingface-hub, litestar, mlflow-skinny, optuna, oyaml, pyaml, responses, ydata-profiling
# pyzmq==26.2.0 # Installed as dependency for ipykernel, jupyter-client
# qpd==0.4.4 # Installed as dependency for fugue
# referencing==0.35.1 # Installed as dependency for jsonschema, jsonschema-specifications
# regex==2024.11.6 # Installed as dependency for nltk
# requests==2.32.3 # Installed as dependency for dash, databricks-sdk, docker, evidently, huggingface-hub, iterative-telemetry, jupyter-dash, mlflow-skinny, moto, percy, pycaret, responses, ydata-profiling
# responses==0.25.3 # Installed as dependency for moto
# retrying==1.3.4 # Installed as dependency for dash, jupyter-dash
# rich==13.9.4 # Installed as dependency for evidently, litestar, rich-click, typer
# rich-click==1.8.5 # Installed as dependency for litestar
# rpds-py==0.22.3 # Installed as dependency for jsonschema, referencing
# rsa==4.9 # Installed as dependency for google-auth
# ruff==0.8.2 # Installed as dependency for gradio
# s3transfer==0.10.4 # Installed as dependency for boto3
# safehttpx==0.1.6 # Installed as dependency for gradio
# schemdraw==0.15 # Installed as dependency for pycaret
# scikit-base==0.7.8 # Installed as dependency for sktime
# scikit-learn==1.4.2 # Installed as dependency for category-encoders, dtreeviz, evidently, explainerdashboard, fairlearn, imbalanced-learn, interpret-core, kmodes, mlflow, mlxtend, pmdarima, pycaret, pynndescent, pyod, scikit-learn-intelex, scikit-optimize, scikit-plot, shap, sktime, tbats, umap-learn, yellowbrick
# scikit-plot==0.3.7 # Installed as dependency for pycaret
# scipy==1.11.4 # Installed as dependency for catboost, category-encoders, evidently, fairlearn, hyperopt, imagehash, imbalanced-learn, kmodes, lightgbm, mlflow, mlxtend, phik, pmdarima, pycaret, pynndescent, pyod, salib, scikit-learn, scikit-optimize, scikit-plot, shap, sktime, statsforecast, statsmodels, tbats, umap-learn, xgboost, ydata-profiling, yellowbrick
# seaborn==0.13.2 # Installed as dependency for ydata-profiling
# semantic-version==2.10.0 # Installed as dependency for gradio
# shap==0.44.1 # Installed as dependency for explainerdashboard
# shellingham==1.5.4 # Installed as dependency for typer
# six==1.16.0 # Installed as dependency for catboost, fs, hyperopt, python-dateutil, retrying, triad
# sktime==0.26.0 # Installed as dependency for pycaret
# slicer==0.0.7 # Installed as dependency for shap
# smmap==5.0.1 # Installed as dependency for gitdb
# sniffio==1.3.1 # Installed as dependency for anyio, trio
# sortedcontainers==2.4.0 # Installed as dependency for distributed, trio
# soupsieve==2.6 # Installed as dependency for beautifulsoup4
# sqlalchemy==2.0.36 # Installed as dependency for alembic, mlflow, optuna
# sqlglot==25.34.0 # Installed as dependency for fugue
# sqlparse==0.5.1 # Installed as dependency for django, mlflow-skinny
# stack-data==0.6.3 # Installed as dependency for ipython
# starlette==0.41.3 # Installed as dependency for fastapi, gradio
# statsmodels==0.14.4 # Installed as dependency for category-encoders, evidently, pmdarima, pycaret, statsforecast, ydata-profiling
# tbats==1.1.3 # Installed as dependency for pycaret
# tbb==2022.0.0 # Installed as dependency for daal
# tblib==3.0.0 # Installed as dependency for distributed
# tcmlib==1.2.0 # Installed as dependency for tbb
# tenacity==9.0.0 # Installed as dependency for plotly
# threadpoolctl==3.5.0 # Installed as dependency for imbalanced-learn, scikit-learn
# tomli==2.2.1 # Installed as dependency for pytest
# tomlkit==0.13.2 # Installed as dependency for gradio
# toolz==1.0.0 # Installed as dependency for dask, distributed, partd
# tornado==6.4.2 # Installed as dependency for distributed, ipykernel, jupyter-client
# tqdm==4.67.1 # Installed as dependency for huggingface-hub, hyperopt, nltk, optuna, pycaret, shap, statsforecast, umap-learn, ydata-profiling
# traitlets==5.14.3 # Installed as dependency for comm, ipykernel, ipython, ipywidgets, jupyter-client, jupyter-core, matplotlib-inline, nbformat
# triad==0.9.8 # Installed as dependency for adagio, fugue, fugue-sql-antlr, qpd
# trio==0.27.0 # Installed as dependency for selenium, trio-websocket
# trio-websocket==0.11.1 # Installed as dependency for selenium
# tsdownsample==0.1.3 # Installed as dependency for plotly-resampler
# typeguard==4.4.1 # Installed as dependency for ydata-profiling
# typer==0.15.1 # Installed as dependency for evidently, gradio
# typing-extensions==4.12.2 # Installed as dependency for alembic, anyio, asgiref, dash, faker, fastapi, gradio, gradio-client, graphene, huggingface-hub, ipython, litestar, multidict, opentelemetry-sdk, polyfactory, pydantic, pydantic-core, rich, rich-click, sqlalchemy, typeguard, typer, typing-inspect, uvicorn
# typing-inspect==0.9.0 # Installed as dependency for evidently
# tzdata==2024.2 # Installed as dependency for django, pandas
# ujson==5.10.0 # Installed as dependency for evidently
# urllib3==1.26.20 # Installed as dependency for botocore, distributed, docker, evidently, pmdarima, requests, responses, selenium
# uuid6==2024.7.10 # Installed as dependency for evidently
# uvicorn==0.32.1 # Installed as dependency for evidently, gradio
# visions==0.7.6 # Installed as dependency for ydata-profiling
# waitress==3.0.2 # Installed as dependency for explainerdashboard, mlflow
# watchdog==6.0.0 # Installed as dependency for evidently
# wcwidth==0.2.13 # Installed as dependency for prompt-toolkit
# websockets==14.1 # Installed as dependency for gradio-client
# werkzeug==2.3.8 # Installed as dependency for dash, dash-auth, flask, moto
# widgetsnbextension==4.0.13 # Installed as dependency for ipywidgets
# wordcloud==1.9.4 # Installed as dependency for ydata-profiling
# wrapt==1.17.0 # Installed as dependency for deprecated
# wsproto==1.2.0 # Installed as dependency for trio-websocket
# wtforms==3.2.1 # Installed as dependency for flask-simplelogin, flask-wtf
# xmltodict==0.14.2 # Installed as dependency for moto
# xxhash==3.5.0 # Installed as dependency for pycaret
# yellowbrick==1.5 # Installed as dependency for pycaret
# zict==3.0.0 # Installed as dependency for distributed
# zipp==3.21.0 # Installed as dependency for importlib-metadata
# zope.event==5.0 # Installed as dependency for gevent
# zope.interface==7.2 # Installed as dependency for gevent
